.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/config/services.php
application/config/development/*
!application/config/development/index.html
!application/config/development/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/sessions/*
!application/sessions/index.html
!application/sessions/.htaccess

user_guide/
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
.kdev4/
/nbproject/
.idea/*
*.kdev4

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
